body{
    margin: 0;
}

.chiquito{
    align-self: center;
    width: 65%;
    height: 37rem;
}

.movil{
    height: 100%;
    overflow: scroll;
}

.panel-admin{
    display: flex;
}

.opciones{
    width: 35%;
    padding: 0.7rem;
}

.xd{
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.seleccionar:hover{
    background-color: rgba(110, 205, 243, 0.548);
}

.seleccionar:active{
    background-color: rgba(29, 185, 246, 0.664);
}