<form action="/insertar/cotizacion" method="POST">
    <div class="form-group">
        <label for="cliente">Id cliente</label>
        <input type="number" value="" name="idCliente" class="form-control">
    </div>
    <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input type="number" value="" name="cantidad" class="form-control">
    </div>
    <div class="form-group">
        <label for="Equipo">Equipo</label>
        <input type="text" value="" name="equipo" class="form-control">
    </div>
    <div class="form-group">
        <label for="Codigo">Codigo</label>
        <input type="text" value="" name="codigo" class="form-control">
    </div>
    <div class="form-group">
        <label for="cap">Capacidad</label>
        <input type="text" value="" name="capacidad" class="form-control">
    </div>
    <div class="form-group">
        <label for="pot">Potencia</label>
        <input type="text" value="" name="potencia" class="form-control">
    </div>
    <div class="form-group">
        <label for="deta">Detalles</label>
        <input type="text" value="" name="detalles" class="form-control">
    </div>