<form action="/insertar/producto" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" value="" name="nombre" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Precio</label>
        <input type="email" value="" name="precioPro" class="form-control">
    </div>
    <div class="form-group">
        <label for="des">Descripcion</label>
        <input type="text" value="" name="descripcion" class="form-control">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>