<form action="/insertar/pedido" method="POST">
    <div class="form-group">
        <label for="idF">N° Factura</label>
        <input type="text" value="" name="idFactura" class="form-control">
    </div>
    <div class="form-group">
        <label for="idPro">Id Producto</label>
        <input type="text" value="" name="idProductos" class="form-control">
    </div>
    <div class="form-group">
        <label for="cant">Cantidad del pedido</label>
        <input type="email" value="" name="cantidad" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Precio</label>
        <input type="text" value="" name="precio" class="form-control">
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>