<!--En Ubuntu Ctrl + Shift + I para identar el codigo-->
<%- include('partials/head')%>

<body>
    <%- include('partials/header')%>
    <%- include('partials/menulang.ejs')%>
    <div class="contenedor">
        <h1 class="fw-300 centrar-texto lang" key="nosotros">Nosotros</h1>

        <main class="contenido-nosotros">
            <div class="imagen">
                <img src="/estilos/img/engineer-4922413_1920.jpg" alt="Imagen sobre nosotros">
            </div>
            <div class="texto-nosotros">
                <blockquote class="lang" key="titulo-index">¿Quiénes Somos?</blockquote>

                <p class="lang" key="desc-empresa">Empresa Mexicana dedicada a servicios de mantenimiento, así como al diseño y manufactura de equipos electrónicos, con una amplia experiencia, ofrecemos servicios de mantenimiento a equipo industrial y desarrollamos diseños propios como
                    personalizados de acuerdo a las necesidades de nuestros clientes.
                </p>
                <blockquote class="lang" key="mision-index">Misión</blockquote>

                <p class="lang" key="cont-mision">Proveer servicios de mantenimiento, así como soluciones de automatización y control, de alta calidad y costo razonable, buscando siempre superar las expectativas de nuestros clientes.</p>

                <blockquote class="lang" key="vision-index">Visión</blockquote>
                <p class="lang" key="cont-vision">Que cada cliente tenga un servicio 100% confiable, así como un dispositivo de control para sus equipos de confort. </p>
            </div>
    </div>
    </main>
    <section class="contenedor seccion">
        <div class="iconos-nosotros">
            <div class="icono">
                <img src="/estilos/img/icono1.svg" alt="Icono seguridad">
                <h3 class="lang" key="segu">Seguridad</h3>
                <p class="lang" key="p1">Con nosotros tendra la seguridad de que su dinero esta bien invertido, ademas de asegurarle una garantia de satisfaccion, sino cumplimos con sus expectativas le devolvemos su dinero.</p>
            </div>
            <div class="icono">
                <img src="/estilos/img/icono2.svg" alt="Icono mejor precio">
                <h3 class="lang" key="mej-pre">El mejor precio</h3>
                <p class="lang" key="p2">No encontrara en ninguna otra compania una mejor relacion Precio - Calidad.</p>
            </div>
            <div class="icono">
                <img src="/estilos/img/icono3.svg" alt="Icono a tiempo">
                <h3 class="lang" key="tiempo">A tiempo</h3>
                <p class="lang" key="p3">Siempre tendremos los trabajos y servicios en el tiempo prometido.</p>
            </div>
        </div>
    </section>
    <section class="imagen-contacto">
        <div class="contenedor contenido-contacto">
            <h2 class="lang" key="coti-index">Envia tu información y solicita una cotización ahora</h2>
            <p class="lang" key="info-cot">Rellena el formulario y en brevedad se te enviara una cotización</p>
            <a href="/cotizaciones" class="boton boton-azul lang" key="contacto">Contactanos</a>
        </div>
    </section>

    <div class="seccion-inferior contenedor seccion">
        <section class="blog">
            <h3 class="centrar-texto fw-300 lang" key="alg-serv">Algunos de nuestros servicios</h3>
            <article class="entrada-blog">
                <div class="imagen">
                    <img src="/estilos/img/scott-graham-5fNmWej4tAA-unsplash.jpg" alt="Entrar Blog">
                </div>
                <div class="texto-entrada">
                    <h4 class="lang" key="admi-mante">Administración del Mantenimiento</h4>
                    <div class="li-padding">
                        <li class="lang" key="servi 1">Elaboración del plan de mantenimiento preventivo de acuerdo con las recomendaciones del fabricante del equipo. Este puede incluir equipos y edificio, para cada evento de chequeo contará con órdenes de trabajo.</li>
                        <li class="lang" key="servi 2">Revisión de los mantenimientos realizados por el personal de su empresa de acuerdo con las fechas del programa.</li>
                        <li class="lang" key="servi 3">Elaboración de los expedientes de los trabajos realizados a cada equipo.</li>
                    </div>
                </div>
            </article>
            <article class="entrada-blog">
                <div class="imagen">
                    <img src="/estilos/img/159536937467771733.jpeg" alt="Entrar Blog">
                </div>
                <div class="texto-entrada">
                    <h4 class="lang" key="sis-cont">Sistemas de control</h4>
                    <div class="li-padding">
                        <li class="lang" key="sisSer1">Diseño y fabricación de dispositivos para controlar y monitorear los equipos de operación.</li>
                        <li class="lang" key="sisSer2">Podrán encender o apagar de manera inalámbrica aires acondicionados, compresores, bombas, luminarias, etc.</li>
                        <li class="lang" key="sisSer3">Esto hará más eficiente la operación y ayudará a disminuir el consumo de energía eléctrica.</li>
                    </div>
                </div>
            </article>
            <div class="ver-todas">
                <a href="/servicios" class="boton boton-azul lang" key="ver-todos">Ver todos</a>
            </div>
        </section>


    </div>
    <%- include('partials/footer')%>
</body>

</html>