<!--En Ubuntu Ctrl + Shift + I para identar el codigo-->
<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>IMCH</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos/css/normalize.css">
    <link rel="stylesheet" href="/estilos/css/style.css">
</head>

<body>
    <%- include('partials/header')%>
    <main class="contenedor seccion contenido-centrado">
        <% if (success) {%>
            <a href="/descargar" class="boton boton-azul">Descargar Factura</a>
        <% } %>

        <h1 class="fw-300 centrar-texto">Información para el pedido</h1>
        <form action="/pedido" method="POST">
            <fieldset>
                <label>* Campos necesarios</label>
                <legend>Información del Solicitante</legend>
                <label for="nombre">Nombre(s)*:</label>
                <input type="text" id="nombre" placeholder="Nombre(s)" name="nombre" required>

                <label for="apellidoP">Apellido(s)*:</label>
                <input type="text" id="apellidoP" placeholder="Apellido(s)" name="apellido" required>

                <label for="email">E-mail*:</label>
                <input type="email" id="email" placeholder="Tu correo electrónico" name="email" required>

                <label for="tel">Teléfono:</label>
                <input type="tel" id="tel" placeholder="Tu teléfono" name="telefono">

                <label for="pedido">Cantidad*:</label>
                <input id="pedido" type="number" min="1" name="cantidad" required>

            </fieldset>
            <!-- <fieldset>
                <legend>Contacto</legend>
                <p>Como desea ser contactado:</p>

                <div class="forma-contacto">

                    <label for="telefono">Telefono:</label>
                    <input type="radio" name="contacto" value="telefono" id="telefono">

                    <label for="correo">E-mail:</label>
                    <input type="radio" name="contacto" value="correo" id="correo">

                </div>

                <p>Si eligio Telefono, elija la fecha y hora:</p>
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha">
                <label for="hora">Hora:</label>
                <input type="time" id="hora">
            </fieldset> -->
            <input type="submit" value="Enviar" class="boton boton-azul">
            <% if (success) { %>
                <script>
                    alert('Pedido realizado');
                </script>
                <% success = false %>
            <% } %>
        </form>
    </main>

    <%- include('partials/footer')%>
</body>

</html>