<form action="/eliminar/cotizacion" method="POST">
    <div class="form-group">
        <label for="IdCot">Id Cotizacion</label>
        <input type="number" value="" name="idCotizacion" class="form-control">
    </div>
