<form action="/eliminar/cliente" method="POST">
    <div class="form-group">
        <label for="IdCli">N° de cliente</label>
        <input type="number" value="" name="idCliente" class="form-control">
    </div>
