<form action="/eliminar/pedido" method="POST">
    <div class="form-group">
        <label for="idPed">N° Pedido</label>
        <input type="number" value="" name="idDetalle" class="form-control">
    </div>