<form action="/eliminar/producto" method="POST">
    <div class="form-group">
        <label for="IdPro">N° Producto</label>
        <input type="number" value="" name="idProducto" class="form-control">
    </div>
