<form action="/eliminar/factura" method="POST">
    <div class="form-group">
        <label for="idFac">N° Factura</label>
        <input type="number" value="" name="idFactura" class="form-control">
    </div>