<footer class="site-footer seccion">
    <div class="contenedor contenedor-footer">
        <nav id="navegacion" class="navegacion">
            <a href="/index" class="lang" key="inicio">Inicio</a>
            <a href="/productos" class="lang" key="produ">Productos</a>
            <a href="/servicios" class="lang" key="servi">Servicios</a>
            <a href="/cotizaciones" class="lang" key="cotiz">Cotizaciones</a>
        </nav>
        <p class="copyright lang" key="copyright">Todos los derechos reservados 2020 </p>
    </div>
</footer>