<header class="site-header">
    <div class="contenedor contenido-header">
        <div class="barra">
            <a href="/">
                <img src="/estilos/img/imch.png" alt="Logo">
            </a>

            <div class="mobile-menu">
                <a href="#navegacion">
                    <img src="/estilos/img/barras.svg" alt="Icono menu">
                </a>
            </div>

            <nav id="navegacion" class="navegacion">
                <a href="/index" class="lang" key="inicio">Inicio</a>
                <a href="/productos" class="lang" key="produ">Productos</a>
                <a href="/servicios" class="lang" key="servi">Servicios</a>
                <a href="/cotizaciones" class="lang" key="cotiz">Cotizaciones</a>
            </nav>
        </div>
    </div>
    <!--Este es el contenedor-->
</header>